<form [formGroup]="form">
    <div class="p-grid">
        <div class="p-col-4">
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="reportName" class="label">Report name:</label>
                            <input formControlName="reportName" pInputText type="text" placeholder="Name..." [style]="{ width: '100%' }" class="p-inputtext-sm">
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="reportFileName" class="label">Report file name:</label>
                            <input formControlName="reportFileName" pInputText type="text" placeholder="Name..." [style]="{ width: '100%' }" class="p-inputtext-sm">
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="reportSheetName" class="label">Report sheet name:</label>
                            <input formControlName="reportSheetName" pInputText type="text" placeholder="Name..." [style]="{ width: '100%' }" class="p-inputtext-sm">
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="colorForHeader" class="label">Color for the header:</label><br>
                            <p-colorPicker formControlName="colorHeader" class="p-inputtext-sm"></p-colorPicker>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="headerCentering" class="label">Header centering:</label>
                            <p-dropdown formControlName="centerHeader" [options]="yesOrNo" optionLabel="label" id="headerCentering" placeholder="Select" [style]="{ width: '100%' }" class="p-inputtext-sm"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="borderForHeaders" class="label">Border for headers:</label>
                            <p-dropdown formControlName="borderHeader" [options]="yesOrNo" optionLabel="label" id="borderForHeaders" placeholder="Select" [style]="{ width: '100%' }" class="p-inputtext-sm"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="stickyHeader" class="label">Sticky header:</label>
                            <p-dropdown formControlName="stickyHeader" [options]="yesOrNo" optionLabel="label" id="stickyHeader" placeholder="Select" [style]="{ width: '100%' }" class="p-inputtext-sm"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="amountHeaders" class="label">Amount headers:</label>
                            <input formControlName="amountHeaders" pInputText type="text" placeholder="Amount" [style]="{ width: '100%' }" class="p-inputtext-sm">
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <button pButton label="Added headers and alias" (click)="generateInputsWithHeadersName()"></button>
                </div>
            </div>
        </div>
        <div class="p-col-1"></div>
        <div class="p-col-7" formArrayName="headersName">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-grid">
                        <div class="p-col-12" *ngFor="let temp of template.controls; let i = index">
                            <div class="p-fluid" [formGroupName]="i">
                                <div class="p-field">
                                    <label for="headerColName-{{ i }}" class="label">Name header col - {{ i }}</label>
                                    <input pInputText id="headerColName-{{ i }}" formControlName="nameHeader" type="text" class="p-inputtext-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-grid">
                        <div class="p-col-12" *ngFor="let temp of template.controls; let i = index">
                            <div class="p-fluid" [formGroupName]="i">
                                <div class="p-field">
                                    <label for="headerColName-{{ i }}" class="label">Alias header col - {{ i }}</label>
                                    <input pInputText id="headerColName-{{ i }}" formControlName="aliasHeader" type="text" class="p-inputtext-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</form>
